# Default dirs
~

# Finder
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# environment yml files
environment.yml

# ml model and image files
_images/
_datasets/
_models/

# tf dirs
_tf_logs/
_tf_models/
my_tfhub_cache/

# ref notebooks
reference_notebooks/